<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsy.springboot.oauth2.all.mapper.TOauthClientMapper">

    <!--<select id="selectAll" resultType="TExerciseZone">
        select * from t_exercise_zone_test where 1 = 1 limit #{offset} , #{limit};
    </select>-->

    <select id="selectClient" resultType="TOauthClient">
        select * from t_oauth_client where 1 = 1 and client_id = #{clientId}
    </select>

    <!--<select id="getProvinceById" resultType="TExerciseZone">
        select * from t_exercise_zone_test WHERE 1 = 1
        <if test="id!=null || ''!=id">
            AND id = #{id}
        </if>
    </select>

    <update id="update">
        update t_exercise_zone_test set parent_id = #{parentId} WHERE id = #{id}
    </update>-->
</mapper>